{% extends 'core/base.html' %} {% load leaflet_tags %} {% block title %}Flood
Events Database: About{% endblock %} {% block content %}
<div id="detail-container">
  <h3>About Flood Events Database</h3>
  Growing up fascinated by the power and unpredictability of water, I became a
  dedicated Hydroinformatics enthusiast, delving deeply into the study of flood
  events and their impacts. With years of experience under my belt, I recognized
  a significant gap: there was no comprehensive, publicly accessible global
  resource for flood data. This lack of information affected not only the
  general public but also engineers, scientists, researchers, and
  decision-makers who needed reliable data to make informed choices. Determined
  to bridge this gap, I embarked on a mission to create a solution. Thus, the
  Flood Events Database was born—a free, open-source web application designed to
  provide users with real-time, detailed information on flood events from around
  the world.

  <h3>Our Mission</h3>
  The Flood Events Database aims to serve both the general public and
  specialists by offering an extensive repository of flood event data. We
  collect information from a variety of sources including field data,
  volunteers, news websites, social media, and public records. Our goal is to
  democratize access to critical data, empowering everyone from concerned
  citizens to seasoned professionals.

  <h3>Features and Functionality</h3>
  Currently in its beta version, the Flood Events Database features an
  interactive global map where users can click on markers to access detailed
  information about each flood event. This initial version includes limited
  features, but it is under active development with new enhancements on the
  horizon.

  <h3>How You Can Help</h3>
  We believe in the power of community and collaboration. Registered users can
  contribute by adding and editing flood event data, helping to keep our
  database comprehensive and up-to-date. The platform is built using Python,
  Django (GeoDjango), and Leaflet, and we welcome developers to contribute to
  our codebase. Your suggestions and feedback are invaluable as we strive to
  improve and expand the platform. Join us in building a resource that can make
  a difference in how we understand and respond to flood events globally.
  Together, we can turn data into actionable insights and create a safer, more
  informed world.

  <h3>Contact</h3>
  For any inquiries, please contact me at
  <a href="mailto:samsami.hd@gmail.com">samsami.hd@gmail.com</a>.
</div>
{% endblock %}
