{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Flood Events Database{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}" />
    {% block extra_css %}{% endblock %}
  </head>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-LHH85K2CQ3"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-LHH85K2CQ3");
  </script>
  <body>
    <header>
      <div class="header-container">
        <h1><a href="{% url 'index' %}">Flood Events Database</a></h1>
        <nav>
          <ul>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="https://github.com/samsamihd/fed">Github</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      {% block sidebar %}{% endblock %}
      <main>{% block content %}{% endblock %}</main>
      {% block extra_js %}{% endblock %}
    </div>
  </body>
</html>
